@import url("https://fonts.googleapis.com/css?family=Carter+One");
@import url("https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible");

body {
	background-color:#fff8e8;
	font-family:"Atkinson Hyperlegible";
}

.vertical-flex {
	display: flex-inline;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	gap: 2vh;
}

.title {
	font-family:"Carter One",Copperplate,Fantasy;
	text-align: center;
	font-size: 5vh;
	padding-bottom: 0vh;
}

.subtitle {
	text-align: center;
	font-family:"Carter One",Copperplate,Fantasy;
	font-size: 2vh;
	padding-bottom: 3vh;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content:center;
	gap: 2vw;
	background-color: #ffbd59;
	position: -webkit-sticky; /*need for safari*/
	position: sticky;
	padding: 1vh;
	gap: 2vw;
	top: 0;
	align-self: stretch;
 
}

.subheading {
	padding-top: 10vh;
	margin: 0;
}

p {
	margin: 0;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.navbar-item {
	color:black;
	text-decoration: underline;
	text-decoration-color: 	#a27734
}

.more-info {
	color:black;
	text-decoration: underline;
	text-decoration-color: 	#ffbd59
}

.game-section-title{
	color:black;
	text-decoration: underline;
	text-decoration-color: 	#ffbd59
}

.small-link {
	color:black;
	text-decoration: underline;
	text-decoration-color: 	#ffbd59
}

.slideshow {
	padding-top:2vh;
	align-self:center
}

.right-aligned-flexbox {
	display: flex;
	flex-direction: row;
	justify-content:right;
	align-items: right;
}

.navbar-item-selected {
	color:#a20000;
	text-decoration: underline;

}

.game {
	display: flex;
	flex-direction: row;
	justify-content:center;
	gap: 1vw;
	padding: 1vh;
}

.sidebar-image {
	width:25vw;
	height:14.0625vw; 
}

.game-sidebar {
	display: flex-inline;
	flex-direction: column;
	justify-content:center;
	width:25vw
}

.sticky-footer {
	position: -webkit-sticky; /*need for safari*/
	position: sticky;
	bottom: 0;
	background-color: #ffbd59;
	padding: 1vh;
	display: flex;
	flex-direction: row;
	justify-content:center;
	gap: 2vw;
}

.image-word-split {
	display: flex;
	flex-direction: row;
	justify-content:center;
	gap: 2vw;
}

.flex-25vw {
	display: flex-inline;
	flex-direction: column;
	justify-content:center;
	width:25vw
}

.flex-50vs {
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	align-self: center; 
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.header-image {
	display: flex;
	width:50vw;
	height:28.125vw;
	justify-content:center;
	align-items: center;
	align-self: center;
}

.other-vertical {
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	width:33vw;
}

.other-spliter {
	display: flex-inline;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	width:50vw;
	align-self: center;

}

.flexbox-paper {
	display: flex-inline;
	flex-direction:row
	
}

.align-me-center-text {
  text-align: center;
}

.pad3vh {
	padding-bottom: 3vh;
}

.align-me-center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50vw;
  padding-top:3vh;
}

.align-me-center-image-header{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:60vw;
  padding-top:3vh;
}

.align-me-center-header-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 28.125%;
  padding-top:3vh;
}


.phone-number {
	
}

.email {
	
}
.watdid {
	font-style: italic;
	font-weight: normal;
}

.image-description {
	font-style: italic;
	margin: 0;
	padding-bottom: 2vh;
}

.page-title{
	text-align: center;
	font-size: 5vh;
	padding-bottom: 0vh;
	padding-top: 3vh;
		margin: 0;

}
